:root {
    --brand-color: #FF4D00;
    --light-blue: #F7FFFF;
    --light-white: #F7F7F7;
    --light-gray: #778899;
}


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    height: 100vh;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
    color: var(--light-gray);
    background-color: white;
}

input[type="radio"] {
    margin-top: -3px;
    vertical-align: middle;
    accent-color: var(--brand-color);
}

.active-tab {
    background-color: var(--brand-color) !important;
    color: white !important;
    border-radius: 8px 8px 0 0;
}

.active-radio-btn {
    color: var(--brand-color) !important;
    font-weight: bold;
}

.request-type-get {
    color: green;
}

.request-type-post {
    color: blue;
}
.request-type-put {
    color: orange;
}
.request-type-delete {
    color: red;
}

.collapsible {
    margin-top: 4px;
    cursor: pointer;
    padding: 12px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 4px;
    background-color: white;
    color: var(--light-gray);
    box-shadow: 1px 3px 2px 2px #f1f1f1;
}

.collapsible:hover {
    background-color: var(--brand-color) !important;
    color: white !important;
    box-shadow: none;
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    padding: 0 4px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid var(--light-blue);
}

.pas-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pas-content {
    display: flex;
    height: 100%;
    overflow: hidden;
    background-color: var(--light-white);
}

.pas-content>.pas-collection-section {
    width: 20%;
    display: flex;
    padding: 8px 0px 4px 8px;
    justify-content: flex-start;
    height: 100%;
    flex-direction: column;
}

.pas-content>.pas-collection-section>.pas-collection-container {
    display: flex;
    width: 100%;
    border-radius: 4px;
    flex-direction: column;
    background-color: white;
    height: 80%;
}

.pas-collection-header {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 18px;
    justify-content: space-between;
    border-bottom: 2px solid var(--brand-color);
}

.add-collection-btn {
    color: var(--light-gray);
    scale: 1.3;
}

.add-collection-btn:hover {
    cursor: pointer;
    scale: 1.5;
    color: black;
}
.pas-collections {
    overflow-x: auto;
}
.api-request-details {
    display: flex;
    padding: 4px 0;
    font-size: small;
    align-items: center;
}

.api-request-details>.request-type {
    font-weight: bolder;
    background-color: var(--light-white);
    padding: 2px 4px;
}

.request-url {
    margin-left: 8px;
    font-weight: light;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.request-url::before {
    content: "[";
}
.request-url::after {
    content: "]";
}
.request-url:hover {
    cursor: pointer;
    color: var(--brand-color);
}
.pas-settings {
    display: flex;
    padding: 8px;
    align-items: center;
    border-top: 2px solid var(--light-gray);
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 1.5px;
}
.pas-settings > div{
    padding: 2px 4px;
}
.pas-settings > div:hover {
    cursor: pointer;
    background-color: white;
    color: var(--brand-color);
    border-radius: 4px;
}
.pas-setting {
    display: flex;
    width: 100%;
    align-items: center;
}
.pas-setting::before {
    content: "\2699";
    font-size: 32px;
    margin-top: -4px;
    margin-right: 2px;
}
.pas-container>.pas-content>.pas-header {
    flex-grow: 1;
    background-color: var(--light-white);
}

.pas-app-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--brand-color);
    background-color: white;
}

.pas-app-title>h5 {
    margin-left: 4px;
}

.pas-logo {
    width: 30px;
    height: 30px;
}

.pas-server-form-container {
    padding: 0 8px;
    border-radius: 4px;
    height: 85vh;
}

.pas-url-container,
.pas-response-config,
.pas-response-body-config-header,
.pas-response-body-container,
.pas-response-body-container-content-header {
    margin-top: 4px;
    padding: 8px;
    background-color: white;
    display: flex;
    align-items: center;
}

.pas-request-type-select,
.pas-url-input {
    padding: 10px 4px;
    border-radius: 4px;
    border: 1px solid black;
}

.pas-url-input {
    margin-left: 4px;
}

.pas-url-input:nth-of-type(2) {
    width: 40px;
}

.pas-url-input:nth-of-type(3) {
    flex-grow: 1;
}

.pas-url-input:disabled {
    color: var(--light-gray);
    border-color: var(--light-gray);
}

.pas-request-type-select:hover,
.pas-request-type-select>option:hover {
    cursor: pointer;
}

.pas-response-config>div:not(:first-child) {
    margin-left: 24px;
}

.pas-response-config>div {
    font-weight: light;
    font-size: 14px;
    border-bottom: 2px solid transparent;
    color: var(--light-gray);
}

.pas-response-config>div:hover,
.pas-response-config>div.active-config {
    cursor: pointer;
    border-bottom: 2px solid var(--brand-color);
    color: black;
}

.pas-response-section-config {
    display: block;
}

.pas-response-type-option>ul,
.response-type-options>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 12px;
}

.pas-response-type-option>ul>li,
.response-type-options>ul>li {
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.pas-response-type-option>ul>li>input:hover,
.pas-response-type-option>ul>li>label:hover {
    color: var(--brand-color);
    cursor: pointer;
}

.pas-response-body-container {
    display: block;
}

.pas-response-body-container-header {
    height: 38px;
}

.pas-response-body-tab {
    display: flex;
    min-width: 10%;
    padding: 0 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font-size: 14px;
    color: var(--light-gray);
}

.pas-response-body-tab:hover {
    cursor: pointer;
}

.pas-response-body-tab>.tab-label {
    margin-right: 10px;
}


.pas-response-body-tab:first-child {
    border-radius: 0px 8px 0 0;
}

.pas-response-body-container-header>.new-tab-btn {
    border: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    padding: 0 8px;
    color: var(--light-gray);
}

.pas-response-body-tab>.close-tab {
    margin-left: auto;
    font-size: 20px;
    transform: rotate(45deg);
}

.close-tab:hover,
.new-tab-btn:hover {
    cursor: pointer;
    scale: 1.2;
}

.pas-response-body-container-header {
    display: flex;
    width: 100%;
}


.pas-response-body-container-content {
    min-height: 65vh;
    max-height: 65vh;
    overflow: hidden;
}

.pas-response-body-container-content-header {
    background-color: var(--light-white);
    color: var(--brand-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
}

.pas-response-body {
    height: 100%;
    background-color: white;
}

.response-type-options {
    color: var(--light-gray);
}

.pas-response {
    outline: none;
}
.pas-config-table {
    display: flex;
    width: 100%;
    font-size: 12px;
}
.pas-config-table > table {
    width: 100%;
}
.pas-config-table > table > tbody > tr > td {
   text-align: center;
   border: 1px solid var(--light-gray);
}
