@use './variables.scss' as vars;
@use './button.scss';

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-size: 12px !important;
  width: 100%;
  overflow: hidden;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;
}

input[type="radio"] {
  accent-color: vars.$brand-color;
  color: vars.$brand-color;
  margin-top: -3px;
  vertical-align: middle;
}

.radio-ehecked {
  color: vars.$brand-color;
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
}

.api-method {
  background-color: whitesmoke;
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 10px;

  &.api-method-get {
    color: green;
  }

  &.api-method-post {
    color: orange;
  }

  &.api-method-put {
    color: royalblue;
  }

  &.api-method-delete {
    color: red;
  }
}


.pas-app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  color: vars.$brand-color;

  .pas-logo {
    width: 24px;
    height: 24px;
  }

  h4 {
    margin: 0;
    padding: 0;
    margin-left: 4px;
    font-size: 14px;
    font-weight: bold;
  }
}

.pas-container {
  display: flex;
  height: 94vh;
  background-color: vars.$light-white;

  .pas-sidebar {
    display: flex;
    height: 100%;
    width: 18%;
    overflow-x: hidden;
    background-color: white;
  }

  .pas-content {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 2px;
  }
}

.sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0 6px;

  .collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 4px 2px;
    border-bottom: 1px solid vars.$light-gray ;

    .collection-add-btn {
      font-size: 18px;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border-radius: 50%;
      padding-bottom: 1px;

      &:hover {
        cursor: pointer;
        font-weight: bold;
        background-color: whitesmoke;
      }
    }
  }

  .accordion-item:first-of-type {
    margin-top: 4px;
  }

  .accordion-button {
    padding: 6px 10px;
    width: 100%;
    border: 0 !important;
    font-size: 12px;
    outline: none;
    border-left: 4px solid transparent !important;
    border-radius: 0 !important;

    .collapsed {
      border-color: transparent !important;
    }

    &:hover {
      background-color: vars.$light-white !important;
    }
  }

  .accordion-body {
    margin-bottom: 2px;
    padding: 4px 0 4px 14px;
    width: 100%;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      background-color: vars.$light-white !important;
    }

    .api-container {
      display: flex;
      align-items: center;
      overflow: hidden;
      font-size: 10px;
      .api-live-container  {
        height: 6px;
        width: 6px;
        border: 1px solid transparent;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 2px;

        >div {
          height: 80%;
          width: 80%;
          border-radius: 50%;
          background-color: transparent;
        }
        &.api-live {
          border-color: vars.$brand-color;
          >div {
            background-color: vars.$brand-color;
          }
        }
      }
    }

    .api-url {
      font-weight: bolder;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%; // Ensure the parent container has a fixed or maximum width
    }
  }

  .accordion-item {
    border: 0;
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    background-color: white !important;
    box-shadow: none !important;
    border-color: vars.$brand-color !important;
  }

  .accordion-button::after {
    display: none;
  }

  .accordion-button::before {
    content: '';
    height: 10px;
    width: 10px;
    margin-right: 5px;
    background-size: contain !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    rotate: -90deg;
  }

  .accordion-button:not(.collapsed)::before {
    rotate: 0deg;
  }

  ul {
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.server-container {
  display: flex;
  flex-direction: column;
  margin: 6px;
  width: 100%;
  height: 100%;

  .server-breadcrumb {
    font-weight: bold;
  }

  .server-form-container {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .server-request-config-container {
      height: 40%;
      border-radius: 4px;
      padding: 0 4px;
      background-color: white;

      .server-breadcrumb {
        height: 8%;
      }

      .server-url-container {
        height: 18%;
        display: flex;
        width: 100%;
        align-items: center;

        input,
        select {
          padding: 8px;
          border: 1px solid black;
          border-radius: 4px;
          margin: 4px;
        }

        input[disabled] {
          border: 1px solid vars.$light-gray;
          color: vars.$light-gray;
        }

        .server-request-type-select {
          width: 6%;
        }

        .server-url-domain {
          width: 110px;
          text-align: center;
        }

        .server-url-port {
          text-align: center;
          width: 50px;
        }

        .server-url-endpoint {
          flex-grow: 1;
        }

        .live-server-button {
          flex-grow: .1;
        }
      }

      .server-request-validator {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        height: 72%;

        .server-request-validator-options {
          display: flex;
          align-items: center;
          font-weight: bold;

          &>div {
            border-bottom: 2px solid transparent;

            &:not(:first-of-type) {
              margin-left: 24px;
            }

            &:hover {
              cursor: pointer;
              border-color: vars.$brand-color;
            }
          }
        }

        .server-request-validator-container {
          height: 100%;
          max-height: 100%;
          overflow-y: auto;
          background-color: vars.$light-white;
          border-radius: 4px;
          padding: 4px;

          .server-request-validator-auth {
            margin-top: 10px;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .server-response-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-top: 8px;
      border-radius: 4px;
      height: 60%;

      .server-response-status {
        background-color: white;
        display: flex;
        align-items: center;
        padding: 8px 4px !important;
        color: vars.$light-gray;

        li {
          font-size: 12px;
          display: inline;
          padding: 0;

          &:not(:first-of-type) {
            margin-left: 14px;
          }

          &>label {
            margin-left: 4px;
          }

          &>label:hover,
          &>input:hover {
            cursor: pointer;
          }
        }
      }

      .response-type-tab-container {
        margin-top: 2px;
        display: flex;
        align-items: center;

        .response-type-tab {
          display: flex;
          align-items: center;
          background-color: vars.$brand-color;
          color: white;
          padding: 2px 8px;
          border-radius: 0 8px 0 0;

          .tab-label {
            margin-right: 10px;
          }

          .close-tab {
            margin-left: auto;
            font-size: 20px;
            transform: rotate(45deg);

            &:hover {
              cursor: pointer;
              scale: 1.2;
            }
          }
        }

        .new-response-type-tab-btn {
          font-size: 20px;
          margin-left: 4px;

          &:hover {
            cursor: pointer;
            scale: 1.2;
          }
        }
      }

      .response-data-type-config {
        display: flex;
        align-items: center;
        background-color: white;
        padding: 8px 4px;
        border-radius: 4px;

        .response-data-type {
          display: flex;
          flex-grow: 1;

          li {
            font-size: 12px;
            display: inline;
            padding: 0;

            &:not(:first-of-type) {
              margin-left: 14px;
            }

            &>label {
              margin-left: 4px;
            }

            &>label:hover,
            &>input:hover {
              cursor: pointer;
            }
          }
        }

        .response-data-type-formatter {
          flex-grow: 1;
          display: flex;
          justify-content: flex-end;
          margin-right: 20px;
          color: vars.$brand-color;
        }
      }

      .response-body-config {
        display: flex;
        align-items: center;
        padding: 8px 4px;
        font-size: 14px;

        &>div {
          border-bottom: 2px solid transparent;

          &:hover {
            border-color: vars.$brand-color;
            cursor: pointer;
          }

          &:not(:first-of-type) {
            margin-left: 15px;
          }
        }
      }

      .response-body-content {
        height: 100%;
        background-color: white;
      }
    }
  }
}