@use './variables.scss' as vars;
@use './button.scss';

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", serif;
  font-size: 12px !important;
  width: 100%;
  overflow: hidden;
}

ul {
  padding: 0 !important;
  margin: 0 !important;
  list-style: none;

  li {
    display: inline;
  }
}

input[type="radio"] {
  accent-color: vars.$brand-color;
  color: vars.$brand-color;
  margin-top: -3px;
  vertical-align: middle;
}

.radio-ehecked {
  color: vars.$brand-color;
  font-weight: bold;
}

.App {
  display: flex;
  flex-direction: column;
}

.api-method {
  padding: 2px 4px;
  border-radius: 2px;
  font-size: 10px;

  &.api-method-get {
    color: green;
  }

  &.api-method-post {
    color: orange;
  }

  &.api-method-put {
    color: royalblue;
  }

  &.api-method-delete {
    color: red;
  }
}


.pas-app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
  color: vars.$brand-color;

  .pas-logo {
    width: 24px;
    height: 24px;
  }

  h4 {
    margin: 0;
    padding: 0;
    margin-left: 4px;
    font-size: 14px;
    font-weight: bold;
  }
}

.api-live-container {
  height: 6px;
  width: 6px;
  border: 1px solid transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;

  >div {
    height: 80%;
    width: 80%;
    border-radius: 50%;
    background-color: transparent;
  }

  &.api-live {
    border-color: vars.$brand-color;

    >div {
      background-color: vars.$brand-color;
    }
  }
}

.pas-container {
  display: flex;
  height: 93vh;
  background-color: vars.$light-white;

  .pas-sidebar {
    display: flex;
    height: 100%;
    width: 18%;
    overflow-x: hidden;
    background-color: white;
  }

  .pas-content {
    display: flex;
    width: 82%;
    height: 100%;
    border-radius: 2px;
  }
}

.landing-page {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  h1 {
    color: vars.$brand-color;
    font-weight: bolder;
    letter-spacing: 5px;
    font-size: 40px;
  }

  p {
    font-weight: bold;
    letter-spacing: 4px;
  }
}

.sidebar {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  padding: 0 6px;
  overflow: hidden;
  .collection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    padding: 4px 2px;
    border-bottom: 1px solid vars.$light-gray ;

    .collection-add-btn {
      font-size: 18px;
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      border-radius: 4px;
      padding-bottom: 1px;

      &:hover {
        cursor: pointer;
        font-weight: bold;
        background-color: whitesmoke;
      }
    }
  }
  .collections-container {
    height: 100%;
    overflow-y: auto;
  }

  .accordion-item:first-of-type {
    margin-top: 4px;
  }

  .accordion-button {
    padding: 6px 10px;
    width: 100%;
    border: 0 !important;
    font-size: 12px;
    outline: none;
    border-left: 4px solid transparent !important;
    border-radius: 0 !important;

    &:hover {
      cursor: pointer;
    }

    .collapsed {
      border-color: transparent !important;
    }

    &:hover {
      background-color: vars.$light-white !important;
    }
  }

  .accordion-body {
    margin-bottom: 2px;
    padding: 4px 0 4px 14px;
    width: 100%;
    overflow: hidden;

    &:hover {
      cursor: pointer;
      background-color: vars.$light-white !important;
    }

    .api-container {
      display: flex;
      align-items: center;
      overflow: hidden;
      font-size: 10px;

      .api-method-container {
        align-items: center;
        justify-content: flex-start;
        width: 100%;

        >div:first-of-type {
          width: 20%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin-right: 4px;
        }

        &.active-api {
          color: royalblue;
          font-weight: bolder;
          background-color: whitesmoke;
        }
        .api-options{
          display: flex;
          flex-grow: 1;
          align-items: center;
          justify-content: flex-end;
          padding-right: 10px;

          .api-delete {
            color: red;
            &:hover {
              cursor: pointer;
              scale: 1.1;
            }
          }
        }
      }
    }

    .api-url {
      font-weight: bolder;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 100%; // Ensure the parent container has a fixed or maximum width
    }
  }

  .accordion-item {
    border: 0;
  }

  .accordion-button {
    position: relative;

    .accordion-icon {
      pointer-events: all;
      height: 12px;
      width: 12px;
      cursor: pointer;

      border-radius: 4px;

      &:hover {
        background-color: whitesmoke;
        scale: 1.1;
      }
    }

    .accordion-expand-btn {
      margin-right: 5px;
      background-size: contain;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
      transform: rotate(-90deg);
    }

    .collection-api-options {
      display: flex;
      flex-grow: 1;
      justify-content: flex-end;

      >div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 14px;
        width: 14px;
      }
    }
  }

  .accordion-button:focus {
    box-shadow: none;
  }

  .accordion-button:not(.collapsed) {
    background-color: white !important;
    box-shadow: none !important;
    border-color: vars.$brand-color !important;
  }

  .accordion-button::after {
    display: none;
  }

  .accordion-button::before {
    // content: '';
    // height: 10px;
    // width: 10px;
    // margin-right: 5px;
    // background-size: contain !important;
    // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='none' stroke='%23212529' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M2 5L8 11L14 5'/%3e%3c/svg%3e");
    // rotate: -90deg;
  }

  .accordion-button:not(.collapsed) {
    // rotate: 0deg;

    .accordion-icon {
      transform: rotate(0deg);
    }
  }

  ul {
    width: 100%;

    li {
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }
  }
}

.server-container {
  display: flex;
  flex-direction: column;
  margin: 6px;
  width: 100%;
  height: 100%;
  input,
  select {
    padding: 8px;
    border: 1px solid black;
    border-radius: 4px;
    margin: 4px;
    font-weight: bold;
  }

  select {
    cursor: pointer;
  }

  .server-breadcrumb {
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .server-form-container {
    height: 98%;
    width: 100%;
    display: flex;
    flex-direction: column;

    .server-request-config-container {
      display: flex;
      flex-direction: column;
      height: 10%;
      border-radius: 4px;
      padding: 0 4px;
      background-color: white;

      .server-breadcrumb {
        height: 32%;
        input {
          height: 80%;
          padding: 2px 2px;
          border-color: transparent;
          background-color: transparent;
          &:focus {
            border: .2px solid vars.$light-gray;
          }
        }
      }

      .server-url-container {
        display: flex;
        width: 100%;
        align-items: center;

        input[disabled] {
          border: 1px solid vars.$light-gray;
          color: vars.$light-gray;
        }

        .server-request-type-select {
          width: 6%;
        }

        .server-url-domain {
          width: 110px;
          text-align: center;
        }

        .server-url-port {
          text-align: center;
          width: 50px;
        }

        .server-url-endpoint {
          flex-grow: 2;
        }

        .live-server-button {
          width: 16%;

          >Button {
            width: 48%; // Default width for buttons
            margin: 1px;

            &:only-child {

              width: 97%; // If there's only one button, make it 100% wide
            }
          }
        }
      }

      .server-request-validator {
        display: flex;
        flex-direction: column;
        margin-top: 2px;
        height: 72%;

        .server-request-validator-options {
          display: flex;
          align-items: center;
          font-weight: bold;

          &>div {
            border-bottom: 2px solid transparent;

            &:not(:first-of-type) {
              margin-left: 24px;
            }

            &:hover {
              cursor: pointer;
              border-color: vars.$brand-color;
            }
          }
        }

        .server-request-validator-container {
          display: flex;
          align-items: center;
          height: 100%;
          max-height: 100%;
          overflow-y: auto;
          background-color: vars.$light-white;
          border-radius: 4px;
          padding: 4px;

          .server-request-validator-auth {
            font-weight: bold;
            width: 80%;
            display: flex;
            justify-content: center;
          }
        }
      }
    }

    .server-response-container {
      display: flex;
      width: 100%;
      flex-direction: column;
      margin-top: 8px;
      border-radius: 4px;
      height: 85%;
      select {
        outline: none;
        border: none;
        border-bottom: none;
        color: green;
        font-weight: 600;

        &>option {
          font-weight: bold;
        }
      }

      .server-response-status {
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px 12px 4px 12px;
        color: vars.$light-gray;

        li {
          font-size: 12px;
          display: inline;
          padding: 0;

          &:not(:first-of-type) {
            margin-left: 14px;
          }

          &>label {
            margin-left: 4px;
          }

          &>label:hover,
          &>input:hover {
            cursor: pointer;
          }
        }
      }

      .response-type-tab-container {
        margin-top: 8px;
        display: flex;
        align-items: center;
        width: 98%;

        >div {
          display: flex;
          align-items: center;
          width: 100%;
          max-width: 100%;
          overflow-x: auto;
        }

        .response-type-tab {
          display: flex;
          align-items: center;
          background-color: white;
          white-space: nowrap;
          color: vars.$brand-color;
          padding: 2px 8px;
          border-radius: 0 8px 0 0;
          margin: 0 2px;

          &:hover {
            cursor: pointer;
            background-color: vars.$brand-color;
            color: white;
          }

          &.active-tab {
            background-color: vars.$brand-color;
            color: white;
          }

          .tab-label {
            margin-right: 10px;
            padding: 8px 0;
          }

          .close-tab {
            margin-left: auto;
            font-size: 20px;
            transform: rotate(45deg);

            &:hover {
              cursor: pointer;
              scale: 1.2;
            }
          }
        }

        .new-response-type-tab-btn {
          font-size: 20px;
          margin-left: 4px;

          &:hover {
            cursor: pointer;
            scale: 1.2;
          }
        }
      }

      .response-tab-container {
        max-height: 100%;
        overflow: hidden;

        >div {
          background-color: white;
          margin-top: 2px;
        }

        .response-tab-name-input-container {
          display: flex;
          align-items: center;
          height: 8%;

          >input {
            border: 0.5px solid vars.$light-gray;
          }
        }
      }

      .response-data-type-config {
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: white;
        padding: 8px 4px;
        border-radius: 4px;
        height: 8%;

        >div {
          width: 100%;
          flex-grow: 1;
        }

        .response-data-type {
          display: flex;

          li {
            font-size: 12px;
            display: inline;
            padding: 0;

            &:not(:first-of-type) {
              margin-left: 14px;
            }

            &>label {
              margin-left: 4px;
            }

            &>label:hover,
            &>input:hover {
              cursor: pointer;
            }
          }
        }

        .response-status-select {
          select {
            color: royalblue;
          }
        }

        .response-data-type-formatter {
          display: flex;
          font-weight: bold;
          justify-content: flex-end;
          padding-right: 20px;
          color: vars.$brand-color;

          &:hover {
            cursor: pointer;
          }
        }
      }

      .response-body-config {
        display: flex;
        align-items: center;
        padding: 8px 4px;
        font-size: 14px;
        height: 6%;

        &>div {
          border-bottom: 2.5px solid transparent;

          &:hover {
            border-color: vars.$brand-color;
            cursor: pointer;
          }

          &.active-content-tab {
            border-color: vars.$brand-color;
          }

          &:not(:first-of-type) {
            margin-left: 15px;
          }
        }
      }

      .response-body {
        height: 85%;
        max-height: 85%;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .response-body-content-container {
          display: flex;
          height: 90%;
          max-height: 90%;
          flex-direction: column;
          overflow: hidden;

          .invalid-json {
            color: red;
            display: flex;
            align-items: center;
            justify-content: center;
            font-weight: bold;
          }
        }

        .response-body-row-numbers {
          >div {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 0.6px 2px;
          }
        }

        .response-body-content {
          white-space: pre-wrap;
          word-break: break-word;
          width: 100%;
          height: 100%;
          outline: none;
          border: none;
          padding: 10px;
        }

        .response-headers-container {
          padding: 10px 20px;

          .response-headers-table {
            table {
              border: 1px solid;
              width: 100%;
              text-align: center;

              td,
              th {
                border: 1px solid vars.$light-gray;
                text-align: center;
                padding: 2px;

                input {
                  border: none;
                  outline: none;
                  width: 100%;
                  padding: 0 5px;
                  margin: 0;
                }
              }

              td:first-of-type,
              th:first-of-type {
                width: 40px;
              }
            }
          }
        }
      }
    }
  }
}

.pas-collection-viewer {
  display: flex;
  align-items: center;
  margin-top: 10%;
  width: 100%;
  flex-direction: column;

  >input,
  textarea {
    width: 50%;
    padding: 8px;
    border: transparent;
    border-radius: 4px;
    margin: 8px;
    font-weight: bold;
    color: vars.$light-gray;

    &:focus {
      color: unset;
    }
  }

  >input {
    border-color: transparent;
    font-size: 24px;
  }

  >textarea {
    resize: none;
  }
  .apis-status {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;

    > span:first-of-type {
      font-weight: bold;
      color: vars.$brand-color;
    }
    > span:last-of-type {
      font-weight: bold;
      color: royalblue;
      margin-left: 4px;
    }
  }
  .pas-collection-apis-viewer {
    margin-top: 8px;
    width: 50%;
    height: 40%;
    overflow-y: auto;
    max-height: 40%;
    border-radius: 4px;
    background-color: white;

    .pas-collection-api-viewer {
      padding: 12px 10px;
      display: flex;
      align-items: center;
      margin-bottom: 2px;

      &:not(:last-of-type) {
        border-bottom: 1px solid vars.$light-gray;
      }
    }
  }

  .pas-collection-delete-btn {
    display: flex;
    width: 50%;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
  }
}