@use './variables.scss' as vars;

.btn-primary {
    border-radius: 4px;
    background-color: white;
    border: 2px solid vars.$brand-color;
    color: vars.$brand-color;
    font-weight: bold;
    &:hover {
        cursor: pointer;
        background-color: vars.$brand-color;
        color: white
    }
}

.btn-secondary {
    border-radius: 4px;
    background-color: vars.$brand-color;
    color: white;
    font-weight: bold;
    border: 2px solid vars.$brand-color;

    &:hover {
        cursor: pointer;
        background-color: white;
        color: vars.$brand-color;
    }
}

.btn-sm {
    padding: 8px 16px;
}
.btn-md {
    padding: 8px 32px;
}
.btn-lg {
    padding: 8px 48px;
}